<header>
    <!-- Toolbar -->

   <div class="toolbar" role="banner">
        <a class="circle-link" title="Home" routerLink="/">
            <img class="circle-link" width="35" alt="Logo" src="assets/img/jewel.png" />
        </a>
        <span>Welcome</span>
        <a class =""></a>

        <div class="spacer"></div>
        <a class="circle-link" title="shopping-cart" routerLink="/cart">
            <img width="30" alt="shopping-cart" src="assets/img/shopping-cart.png" />
        </a>
        <span class="cart-box" routerLink="/cart">{{count}}</span>

    </div>


</header>



