<div class="content" role="main">
    <ng-container *ngIf="productsList.length > 0">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nr.</th>
                            <th colspan="2">Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productsList; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <img style="width: 120px;" src="assets/img/{{item.image}}" alt="">
                            </td>
                            <td style="width: 25%;">
                                {{item.name}}
                            </td>
                            <td style="width: 12%;">
                                {{item.price | currency}}
                            </td>
                            <td style="width: 12%;">
                                1
                            </td>
                            <td style="width: 12%;">
                                {{item.price | currency}}
                            </td>
                            <td>
                                <img class="removeButton" src="assets/img/remove.png" alt="Remove" (click)="removeItem(item)" />
                            </td>
                        </tr>
                        <tr style="background-color: rgb(7, 119, 26); color: #fff;">
                            <td colspan="4">
                            </td>
                            <td style="text-align: right;">
                                <strong>Amount:</strong>
                            </td>
                            <td colspan="2" style="text-align: left;">
                                <strong>{{ amount | currency}}</strong>
                            </td>
                        </tr>
                        <tr style="background-color: #fff;">
                            <td colspan="2">
                            </td>
                            <td>
                                <button (click)="emptyCart()" style="background-color: rgb(245, 83, 83);">Empty Cart</button>
                            </td>
                            <td colspan="2">
                                <button routerLink="/products">Shop More</button>
                            </td>
                            <td colspan="2">
                                <button routerLink="/checkout" style="background-color: rgb(6, 168, 33);">Checkout</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="productsList.length == 0">

        <div class="card">
            <div class="center">
                <img src="assets/img/cart.png" alt="" />
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <p><button routerLink="/products">Shop Now</button></p>
            </div>
        </div>
    </ng-container>
</div>
